- name: Apt update & upgrade
  become: true
  apt:
    update_cache: true
    upgrade: full
  changed_when: false

- name: Get debian/ubuntu architecture
  command: dpkg --print-architecture
  register: deb_architecture
  changed_when: false

- name: "Driver tasks"
  ansible.builtin.include_tasks:
    file: "drivers.yml"
  when: apply_drivers

- name: "Network tasks"
  ansible.builtin.include_tasks:
    file: "network.yml"
  when: apply_network

- name: "Sound tasks"
  ansible.builtin.include_tasks:
    file: "sound.yml"
  when: apply_sound

- name: "Bluetooth tasks"
  ansible.builtin.include_tasks:
    file: "bluetooth.yml"
  when: apply_bluetooth

- name: "Docker tasks"
  ansible.builtin.include_tasks:
    file: "docker.yml"
  when: apply_docker

- name: "WSL tasks"
  ansible.builtin.include_tasks:
    file: "wsl.yml"
  when: apply_wsl
