- name: Install Nix Darwin
  block:
    - name: "Msg"
      debug:
        msg: "The following task can take a long time, don't close the session."

    - name: Install & run Nix Darwin
      shell: nix run nix-darwin -- switch --flake ~/.dotfiles/nix/Darwin
      args:
        executable: /bin/bash
        creates: "/nix/var/nix/profiles/default/bin/nix"